# Loại bỏ data và models (sẽ mount từ volume)
data/
models/

# Loại bỏ các file không cần thiết
notebooks/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.csv
*.ipynb
*.parquet
.DS_Store
.git/
.gitignore
venv/
documents/
*.pdf
*.tex
*.aux
*.fdb_latexmk
*.fls
texput.log
postman_collection.json
build.sh
