# Ignore data
# data/*
# !data/README.md
# !data/proc/
# data/proc/*
# !data/proc/icd_block_details.csv
# !data/proc/top_lab_items.csv
# !data/proc/top_icd_blocks.csv
# !data/proc/icd_block_details.xlsx
# !data/proc/lab_top_items.xlsx

data/mimic-iv-note
data/mimiciv
data/proc/examples.parquet
data/mimiciv_subset/discharge.csv


# Ignore venv, cache, system files
venv/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
